<div class="content">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-search-form
          [departureLocation]="departureLocation"
          [arrivalLocation]="arrivalLocation"
          [flightDate]="flightDate"
          [flightClass]="flightClass"
          [outputPreference]="outputPreference">      
      </app-search-form>
    </div>
    <div class="col-6">
      <app-search-commands 
          [departureLocation]="departureLocation"
          [arrivalLocation]="arrivalLocation"
          [flightDate]="flightDate"
          [flightClass]="flightClass"
          [outputPreference]="outputPreference"
          (dataFound)="onDataFound($event)">      
      </app-search-commands>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-search-results
        [resultsData]="resultsData">
        
      </app-search-results>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
